@charset "utf-8";

.main-section { overflow: hidden; background-color: #fff; z-index: 0;}

.main-visual { position: absolute; left: 0; right: 0; top: 0; height: 100%; overflow: hidden; z-index: 10; background-color: var(--color-gray1);}
.main-visual .swiper-slide { width: 100%; height: 100%; position: relative; display: flex; align-items: center; background-color: var(--color-gray1);}
.main-visual .swiper-slide picture { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0; opacity: 0.5;}
.visual-copy { width: 100%; max-width: 1200px; margin: 0 auto 0 auto; text-align: left; padding: 0 80px; position: relative; z-index: 10;}
.visual-copy .main-copy { font-size: 72px; font-weight:100; line-height: 1.19em; color: #fff; transform: translateY(50px); opacity: 0; transition: all 1s 0.4s;}
.visual-copy .main-copy b {font-weight: 700;}
.visual-copy .main-copy .ft-1 {font-size: 1.2em;}
.visual-copy .main-copy + p {font-size: 50px; color: #fff; font-weight: 100; margin-top: 50px; transform: translateY(50px);  opacity: 0; transition: all 1s 1s;}
.main-visual .swiper-slide.swiper-slide-active .main-copy {transform: translateY(0); opacity: 1;}
.main-visual .swiper-slide.swiper-slide-active .main-copy + p {transform: translateY(0); opacity: 1;}

.visual-swiper-control { position: absolute; left: 50%; margin-left: -600px; bottom: 220px; color: #fff; display: flex; align-items: center; z-index: 100;}
.visual-progressbar { width: 180px; height: 2px; position: relative; background-color: rgba(255, 255, 255, 0.2); transition: .3s opacity; text-align: center; position: relative; overflow: hidden; margin: 0 14px;}
.visual-progressbar .bar { display: block; background-color: #fff; position: absolute; left: 0; top: 0; width: 0; height: 100%;}
.visual-progressbar.play .bar { animation: barMotion 5s forwards linear;}

.main-visual .arr-down {
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -23px;
  width: 46px;
  height: 36px;
  z-index: 10;
}

.main-visual .arr-down a {
  display: block;
  width: 46px;
  height: 36px;
  color: #fff;
  font-size: 24px;
  /* background: url(../images/main/ic_scroll_down.svg) center no-repeat;
  text-indent: -9999px;
  text-align: left;
  overflow: hidden; */
}

@keyframes barMotion {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* .visual-swiper-paging.swiper-pagination-progressbar {
  width: 180px;
  height: 2px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  transition: .3s opacity;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 0 14px;
}

.visual-swiper-paging.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
} */

.visual-swiper-control .swiper-pagination {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

.visual-swiper-control .swiper-pagination .current-page,
.visual-swiper-control .swiper-pagination .total-page {
  width: 24px;
  text-align: center;
}

.visual-swiper-control .btn-swiper-prev,
.visual-swiper-control .btn-swiper-next,
.visual-swiper-control .btn-swiper-stop {
  width: 20px;
  height: 20px;
  text-align: left;
  text-indent: -9999px;
  overflow: hidden;
  margin: 0 5px;
}

.visual-swiper-control .btn-swiper-prev {
  background: url(../img/layout/i_slider_prev_next.svg) 0 0 no-repeat;
}

.visual-swiper-control .btn-swiper-next {
  background: url(../img/layout/i_slider_prev_next.svg) -30px 0 no-repeat;
}

.visual-swiper-control .btn-swiper-stop {
  background: url(../img/layout/i_slider_stop.svg) center 0 no-repeat;
}

.visual-swiper-control .btn-swiper-stop.on {
  opacity: 0.3;
}

.main-visual .arr-down {
  opacity: 1;
  animation: arrMotion 1.5s infinite;
}

@keyframes arrMotion {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(0, -10px);
    opacity: 0.5;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.main-section .main-inner { max-width: 1200px; margin: 0 auto; padding: 120px 0;}
.sec-intro .main-inner { max-width: 100%; padding: 120px 0 0 ;}

.main-title { font-size: 48px; line-height: 1.3em; font-weight: 100; letter-spacing: -0.02em;}

.main-title-sub { font-size: 18px; line-height: 1.44em; margin-top: 16px; color: var(--color-gray3);}

.main-section .go-more { display: inline-flex; align-items: center; font-size: 18px; line-height: 1.45em; font-weight: 600;}
.main-section .go-more .i-go { display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; box-sizing: border-box; border: 1px solid #212126; position: relative;  overflow: hidden; border-radius: 50%; margin-left: 12px; }
.main-section .go-more .i-go i {font-size: .75em;}

.fp-scroller { transition-duration: 500ms !important;}


.intro-title { position: relative; margin: 0 auto 42px auto; max-width: 1200px;}
.intro-title .go-more { position: absolute; right: 0; top: 0;}

.main-intro-slider { position: relative; overflow: hidden; margin: 0 -80px;}
.main-intro-slider img { border-radius: 20px; position: absolute; width: auto;}

.sec-service .main-inner { position: relative;}

.main-service-list {  max-width: 894px;  height: 588px;  position: relative; transform: translate(0, -158px); margin-bottom: -158px; margin-left: auto;}
.main-service-list li { width: 282px; height: 282px; position: absolute;}
.main-service-list a {
  display: block;
  height: 100%;
  padding: 65px 0 0 0;
  position: relative;
  background-color: #F6F8FC;
  border-radius: 10px;
  box-sizing: border-box;
  font-weight: 700;
  transition: all 0.3s;
  overflow: hidden;
}

.main-service-list a:before {
  display: block;
  content: '';
  box-sizing: border-box;
  width: 132px;
  height: 132px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.main-service-list a:after {
  display: block;
  content: '';
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff url(../images/main/i_go_arr_blue.svg) center center no-repeat;
  position: absolute;
  right: 30px;
  bottom: 30px;
  transition: right 0.3s;
  opacity: 0;
}

.main-service-list .contents a:before {
  background-image: url(../images/main/i_service_cloud.png);
}

.main-service-list .sales a:before {
  background-image: url(../images/main/i_service_ai.png);
}

.main-service-list .solution a:before {
  background-image: url(../images/main/i_service_hosting.png);
}

.main-service-list .logitics a:before {
  background-image: url(../images/main/i_service_data.png);
}

.main-service-list .s-name {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.main-service-list a:hover,
.main-service-list a:active {
  background-color: var(--color-blue1);
}

.main-service-list a:hover .s-name,
.main-service-list a:active .s-name {
  color: #fff;
}

.main-service-list a:hover:after,
.main-service-list a:active:after {
  opacity: 1;
}

.main-service-list .contents a:hover:before {
  background-image: url(../images/main/i_service_cloud_on.png);
}

.main-service-list .sales a:hover:before {
  background-image: url(../images/main/i_service_ai_on.png);
}

.main-service-list .solution a:hover:before {
  background-image: url(../images/main/i_service_hosting_on.png);
}

.main-service-list .logitics a:hover:before {
  background-image: url(../images/main/i_service_data_on.png);
}

.main-service-list .contents {
  left: 306px;
  top: 0;
}

.main-service-list .sales {
  left: 0;
  top: 226px;
}

.main-service-list .solution {
  left: 306px;
  top: 306px;
}

.main-service-list .logitics {
  left: 612px;
  top: 80px;
}

.brand-title {position: relative; z-index: 11; color: #fff; width: 100%; max-width: 1200px; margin: 0 auto 0 auto; text-align: left; padding: 0 80px; top: -180px; box-sizing: border-box;}
.brand-title .main-title {font-size: 90px;}
.brand-title .main-title-sub {color: #fff; margin-top: 0; margin-bottom: 26px;}
.brand-title .visual-swiper-control {position: unset; left: 0; bottom: 0; margin-left: 0;}
.brand-visual { position: absolute; left: 0; right: 0; top: 0; height: 100%; overflow: hidden; z-index: 10; background-color: var(--color-gray1);}
.brand-visual .swiper-slide { width: 100%; height: 100%; position: relative; display: flex; align-items: center; background-color: var(--color-gray1);}
.brand-visual .swiper-slide img { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0; }

.main-news-list ul {
  display: flex;
  margin: 0 -12px;
}

.main-news-list ul li {
  width: 384px;
  margin: 0 12px;
}

.main-news-list a {
  display: flex;
  flex-direction: column;
}

.main-news-list .photo {
  position: relative;
  height: 0;
  padding-top: 57.29%;
  overflow: hidden;
  border-radius: 20px;
}

.main-news-list .photo img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  
  transition: all 0.3s;
}

.main-news-list .title {
  font-size: 20px;
  line-height: 1.4em; 
  font-weight: 700;
  word-break: keep-all;
}

.main-news-list .date {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--color-gray7);
  font-weight: 500;
}

.main-news-list a:hover .photo img {
  transform: scale(1.03);
  transition: all 0.3s;
}

.main-news-list a:hover .title {
  color: var(--color-blue1);
}


/* mobile ******************************************************************* */

@media all and (max-width: 1360px) {

  .main-section .main-inner {margin: 0 80px;}
  .visual-swiper-control {left: 80px; margin-left: 0;}

}

@media all and (max-width: 1099.99px) {

  html:not(.no-js) [data-aos=fade-up] {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  .main-section [data-aos][data-aos-delay="300"].aos-animate,
  .main-section [data-aos][data-aos-delay="400"].aos-animate,
  .main-section [data-aos][data-aos-delay="500"].aos-animate { transition-delay: 0s;}

  .main-section [data-aos][data-aos-delay="600"].aos-animate { transition-delay: 0.1s;}

  .main-section [data-aos][data-aos-delay="700"].aos-animate { transition-delay: 0.2s;}

  .main-section [data-aos][data-aos-delay="800"].aos-animate { transition-delay: 0.3s;}

  .main-section { height: auto !important;}
  .main-section .main-inner { padding: 40px 0; margin: 0 20px;}

  .fp-tableCell {
    height: auto !important;
  }

  .fp-scrollable {
    height: auto !important;
    overflow: auto;
    position: inherit;
  }
/*page1*/
  .main-visual {position: relative;}

  .visual-copy { padding: 0 20px; margin: 0;}

  .sec-visual,
  .sec-visual .fp-tableCell,
  .sec-visual .main-visual {
    height: 580px !important;
  }

  .visual-copy .main-copy {font-size: 46px; line-height: 1.3em;}
  .visual-copy .main-copy + p {font-size: 28px;}

  .visual-swiper-control {
    left: 20px;
    margin-left: 0;
    bottom: 32px;
    right: 20px;
  }

  .visual-swiper-control .btn-swiper-prev {
    margin: 0 0 0 auto;
  }

  .visual-swiper-control .btn-swiper-next {
    margin: 0 0 0 10px;
  }

  .visual-swiper-control .swiper-pagination {
    font-size: 16px;
  }

/*page2*/
  .main-title { font-size: 26px;  line-height: 1.3em;}

  .main-title-sub { font-size: 16px; line-height: 1.5em; margin-top: 12px;}

  .sec-intro .main-inner { padding-top: 60px; }

  .intro-title { margin-bottom: 40px; }

  .intro-title .go-more { position: relative; margin-top: 28px; }

  .main-section .go-more {
    font-size: 15px;
    height: 24px;
  }

  .main-section .go-more .i-go {
    width: 26px;
    height: 26px;
    margin-left: 8px;
  }
  .main-intro-slider {margin: 0 -20px;}

/*page3*/
  .service-title {
    margin-bottom: 10px;
  }

  .service-title .go-more {
    margin-top: 28px;
  }

  .main-service-list {
    width: auto;
    transform: none;
    margin: -6px;
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% + 12px);
    height: auto;
    padding-bottom: 60px;
  }

  .main-service-list li {
    position: relative;
    left: initial !important;
    top: initial !important;
    width: calc(50% - 12px);
    height: calc(50vw - 12px - 20px);
    margin: 6px;
  }

  .main-service-list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .main-service-list a:before {
    width: 160px;
    height: 160px;
    transform: translateY(-9px);
  }

  .main-service-list li:nth-child(1) a,
  .main-service-list li:nth-child(3) a {
    transform: translateY(60px);
  }

  .main-service-list .s-name {
    font-size: 15px;
    line-height: 1.6em;
    left: 16px;
    bottom: 14px;
  }
/*page4*/
  .sec-brand,
  .sec-brand .fp-tableCell,
  .sec-brand .brand-visual {
    height: 580px !important;
  }
  .brand-title {top: -120px; padding: 0 20px;}
  .brand-title .main-title {font-size: 52px;}

  .visual-swiper-control {
    left: 20px;
    margin-left: 0;
    bottom: 32px;
    right: 20px;
  }

  .sec-brand .visual-swiper-control .btn-swiper-prev {
    margin: 0;
  }

/*page5*/
  .sec-news .main-inner {
    padding-bottom: 80px;
    margin: 0 20px;
  }

  .news-title {
    margin-bottom: 32px;
  }

  .main-news-list ul {
    flex-wrap: wrap;
  }

  .main-news-list ul li {
    width: calc(50% - 24px);
    margin-bottom: 40px;
  }

  .main-news-list .date {
    font-size: 14px;
    line-height: 1.71em;
  }

  .main-news-list .title {
    font-size: 16px;
    line-height: 1.5em;
  }  

  .sec-news .go-more {
    position: relative;
    left: initial;
    top: initial;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

}
@media all and (max-width:640px){
  .main-news-list ul li { width: 100%;}
  .main-news-list .date {margin-top: 16px; margin-bottom: 0;}
}
@media all and (max-width: 532px) {
  .main-service-list a:before {
    width: 80px;
    height: 80px;
    transform: translateY(-9px);
  }

  .main-service-list a:after {
    right: 16px;
    bottom: 16px;
    width: 20px;
    height: 20px;
    background-size: 10px auto;
    background-image: url(../images/main/i_go_arr_blue_m.svg);
    background-position: 55% center;
  }
}
