@charset "utf-8";/*font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100; 200; 300; 400; 500; 600; 700; 800; 900&display=swap');

* {box-sizing: border-box;}
body {-webkit-overflow-scrolling: touch; -webkit-user-select: none; user-select: none;}
::-webkit-scrollbar {display: none;}
.mont {font-family: 'Montserrat', sans-serif; } 
.flex {display: flex !important;}

#adm-wrap {height: 100vh; isolation: isolate;}
.layout-wrap.flex {flex-direction: column; height: 100%;}
.header {position: relative; background: #fff; isolation: isolate; z-index: 1; height: 72px;border-bottom: 1px solid rgba(90,101,119,0.15); box-sizing: border-box; display: flex; align-items: center; justify-content: center;}

.header .adm-logo {position: absolute; top: 50%; left: 50px; transform: translateY(-50%);}
.header .adm-logo > a {display: block; width: 170px;}
.header .adm-logo img {width: 100%;}

.header .adm-nav-list a {padding: 10px 24px; margin: 0 14px; border-radius: 10px; background: #fff; transition: all .3s ease; font-weight: 500;}
.header .adm-nav-list li.active a {background-color: #f1f9ff;}
.header .adm-nav-list a:hover {background-color: #f1f9ff; transition: all .3s ease;}

.header-util {position: absolute;right: 50px;top: 20px;display: flex;align-items: center;box-sizing: border-box; } 
.mypage-hd .btn-my {width: 40px;height: 40px; } 
.mypage-hd .btn-my i {display: block;width: 20px;height: 20px;font-size: 20px;color: #252525; } 
.mypage-hd .mypage-options {position: absolute;right: 0;top: 40px;background-color: #fff;border-radius: 8px;padding: 6px 0;width: 100px;box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);display: none; } 
.mypage-hd .mypage-options a {display: block;height: 40px;line-height: 40px;text-align: center;font-size: 14px; } 
.mypage-hd .mypage-options a:hover {background-color: var(--color-blue4); } 
.mypage-hd .mypage-options a.selected {color: var(--color-blue1);font-weight: 700; } 
.mypage-hd.active .mypage-options {display: block; } 

.container {flex: 1 1 0%; height: 0; display: flex; isolation: isolate; z-index: 0;}
.left-btn-wrap {flex: 0 0  auto; height: 100%; isolation: isolate; z-index: 1;}
.left-more-wrap {position: relative; height: 100%; display: flex;}
.container .left-btn { width: 82px; height: 100%; border-right: 1px solid rgba(90,101,119,0.15); display: flex; flex-direction: column; justify-content: space-between; align-items: center; background-color:#fff; box-sizing: border-box; isolation: isolate;}
.container .left-btn-list {padding: 8px 4px;  overflow: hidden auto; height: calc(100vh); }
.container .left-btn-list::-webkit-scrollbar {display: none;}
.container .left-btn ul {display: inline-flex; flex-direction: column; align-items: center;}
.container .left-btn ul li a {display: flex; flex-flow: column; justify-content: center; align-items: center; width: 64px; height: 64px; border-radius: 10px; transition: all .3s ease;}
.container .left-btn ul li a:hover {background-color: #f1f9ff; transition: all .3s ease;}
.container .left-btn ul li.active a {background-color: #f1f9ff; }
.container .left-btn ul li:not(:last-child) a {margin-bottom: 8px;}
.container .left-btn ul li a span {font-size: 14px; display: inline-block; width: 80%; padding-top: 3px; text-align: center; line-height: 1.2;}

.content-wrap {display: flex; width: 100%; flex-flow: column; background: #f8fafd;}
.content {width: 100%;}
.content .inner {padding: 50px;}

.content-title {padding-bottom: 16px;}
.content-title.flex {align-items: center; justify-content: space-between;}
.content-btn-wrap.flex {gap: 10px;}

footer {background-color: #fff; margin-top: auto; text-align: center; padding: 10px 0; font-size: 12px; color: #808080;}
/***input file 공통***/
.input_file {position:absolute; width:0px; height:1px; padding:0; margin:-1px; overflow:hidden; border:none;}
.input_file + label {
    cursor: pointer;
}
/*select*/
.adm-select {
	height: 40px;
  border: 0px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  padding: 0 40px 0 20px;	
	box-sizing:border-box;
  line-height:1.5;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  color: #333;
	overflow:hidden;
	-webkit-appearance: none;  -moz-appearance: none; appearance: none; /* 네이티브 외형 감추기 */
	background: #fff url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.53 9.47a.75.75 0 0 1 0 1.06l-6 6a.75.75 0 0 1-1.06 0l-6-6a.75.75 0 1 1 1.06-1.06L12 14.94l5.47-5.47a.75.75 0 0 1 1.06 0Z' fill='%23aaa'%3E%3C/path%3E%3C/svg%3E")  no-repeat;
	background-position:right 10px top 50%;
	background-size: 19px;
	text-align-last: center;
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
	border: 1px solid var(--color-border);
	vertical-align: middle;
  border: 1px solid #c9c9c9;
}
.adm-select:hover,
.adm-select:focus {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.53 9.47a.75.75 0 0 1 0 1.06l-6 6a.75.75 0 0 1-1.06 0l-6-6a.75.75 0 1 1 1.06-1.06L12 14.94l5.47-5.47a.75.75 0 0 1 1.06 0Z' fill='%23000'%3E%3C/path%3E%3C/svg%3E")}
.adm-select:disabled {background-color: var(--color-disable);}
.adm-select::-ms-expand { display: none; }

.adm-select[multiple="multiple"] {
	height: auto;
	overflow-y:scroll;
	background:none;
	padding: .5rem 0;
	outline: none;
	min-width:200px;
}
.adm-select[multiple="multiple"] option {
	padding: .5rem 5rem;
}
.adm-select[multiple="multiple"]::-webkit-scrollbar {
	background:none;
}

.input-text.adm-input-text {height: 40px; border-radius: 5px;}
.v-datepicker.adm-v-datepicker {height: 40px; border-radius: 5px; background-position: right 13px top 8px;}

/*search-wrap*/
.list-search {padding: 18px 30px;}
.list-search.flex {justify-content: space-between; align-items: center;}
.list-search .btn.btn-sm {padding: 8px 32px;}

dl.search-items dt{display: block;}
dl.search-items, 
dl.search-items dd {display: inline-block; vertical-align: middle;}
dl.search-items + dl.search-items {margin-left: 30px;}
dl.search-items dt {padding-right: 5px;}
dl.search-items dt.select-dt {padding-right: 0px;}
dl.search-items dd.flex {gap: 10px;}

.list-date{padding: 18px 30px;}
.list-date.flex {justify-content: space-between; align-items: center;}
dl.date-items, 
dl.date-items dt,
dl.date-items dd {display: inline-block; vertical-align: middle;}

dl.date-items + dl.date-items {position: relative; margin-left: 30px; padding-left: 30px;}
dl.date-items + dl.date-items:before {content:''; width: 1px; height: 18px; background: #ddd; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
dl.date-items dt {padding-right: 8px;}
dl.date-items dd b {font-size: 1.2em; vertical-align: middle;}


/*table*/
.board-list-top {text-align: right; padding: 10px 0;}
.board-list-top .board-list-num {display: inline-block;}
.board-list table{width:100%; table-layout:fixed; border-top:2px solid var(--color-gray1);}
.board-list thead th{height:52px; box-sizing:border-box; padding:13px 20px; text-align:left; border-bottom:1px solid var(--color-gray8); font-weight:700; color:var(--color-gray1); font-size:14px; line-height:1.71em;}
.board-list td{height:60px; box-sizing:border-box; padding:18px 20px; text-align:left; border-bottom:1px solid var(--color-gray9); font-size:14px; line-height:1.71em;}
.board-list thead th.no,
.board-list td.no{text-align:center;}
.board-list td a:hover{color:var(--color-blue1);}

.ly-section {border: 1px solid #dbdbdb; overflow: hidden; border-radius: 10px; background: #fff;}